h1 {
        font-size: 30px;
            font-family: sans-serif;
                font-style: normal;
                    text-align: center;
                        text-transform: uppercase;
                            text-rendering: auto;
                                color:blue;
                                text-decoration: underline;
                                    margin: auto;
                                        padding: 0%;
                                    }
p {
    font-family: sans-serif;
    font-style: normal;
    font-size: 22px;
    border-color: seagreen;
    margin: auto;
    padding: 0%;
    text-align: center;
}  

body {
    color: seagreen;
    border-color: aqua;
}

ul, li {
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    text-transform: none;
}
